- provide(:title, '| About')
%section{:id => "pageTitle"}
  %div.container
    %div.row
      %div{:id => "titleBox", :class => "col-lg-6 col-md-6 col-sm-6 col-lg-offset-3 col-md-offset-3 col-sm-offset-3"}
        %h1 About
%section{:id => "pageBarOne"}
  %div.container
    %div.row
      %div{:class => "col-lg-8 col-md-8 col-sm-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2"}
        %p Rachel Rutledge, owner of Off The Rack Boutique, had a vision to open a Formals/Semi-Formals Consignment Store after visiting one while on vacation! OTR started in the sun-room of her home in September of 2016 and quickly outgrew the space. OTR Boutique is now located at 703 Pratt Ave NW Suite 304 in Huntsville, just one mile from downtown. Along with its new location came more space. In addition to offering consignments on formals, Off The Rack Boutique also has a collection of casual clothes including businesswear, sweaters, sundresses, shoes, and accesories. Here's our stance...
%div.container.centerfy
  %div.row
    %div{:class => "col-lg-4 col-md-4 col-sm-4 col-lg-offset-2 col-md-offset-2 col-sm-offset-2"}
      %p
        %em You bought beautiful BOUTIQUE clothing and now that it's time to clean out those closets, what are you going to do with last years items? Consign  them at Off The Rack Boutique!
    %div{:class => "col-lg-4 col-md-4 col-sm-4"}
      %p 
        %em Off The Rack is a boutique-style Consignment Store serving teens and women - casual wear, formals, semi-formals, shoes, designer hand bags and accessories.
%section{:id => "pageBarTwo"}
  %div.container
    %div.row
      %div{:class => "pageBarTextBlock-b"}
        %p We accept conisgnments by APPOINTMENT only.  Click How To Consign above to find out more!
        = link_to "Qustions? Contact us!", contact_path, class: "bigFont"
