- provide(:title, '| Contact')
%section{:id => "pageTitle"}
  %div.container
    %div.row
      %div{:id => "titleBox", :class => "col-lg-6 col-md-6 col-sm-6 col-lg-offset-3 col-md-offset-3 col-sm-offset-3"}
        %h1 Contact
%section{:id => "pageBarOne"}
  %div.container
    %div.row
      %div{:class => "col-lg-4 col-md-4 col-sm-4 centerfy"}
        %h1 Regular Business Hours:
        // %p <b><font color="red">Extended Tuesdays for Homecoming season!</font></b>
        // %p <b>Tuesday: 12pm-8pm</b>
        %p Tuesday - Friday: 10am-5:30pm
        %p Saturday: 10am-2pm
        %p Sunday - Monday: Closed
        // Temporary Business Hours
        %p
        //%p <b><font color="red">Extended Tuesdays during Homecoming season!:</font></b>
        //%p <b>Tuesday</b>: 12pm-8pm
        //%p 11am-4pm
        //%p
        // Special Business Hours
        //%h2 <font color="red">We will be CLOSED on BOTH Tuesday and Wednesday this week in celebration of <font color="blue">July 4th</font> - Enjoy the holiday!</font>
        //%p 11am-3pm
        //%p
        //%h2 Business Hours
        //%p (16 Jan - 20 Jan)
        //%p Wednesday - Friday: 11am-4:30pm
        //%p Saturday: 10am-2pm
        //
      %div{:class => "col-lg-4 col-md-4 col-sm-4 centerfy"}
        %h1 Contact Us:
        %p Rachel Rutledge
        %p rachel@offtherack256.com
        %p (256) 886-8304
      %div{:class => "col-lg-4 col-md-4 col-sm-4 centerfy"}
        %h1 Learn More:
        = form_tag("/submit_email", method: "get") do
          = label_tag :email, "Join Our Mailing List!"
          %p
            = email_field_tag :email
            = submit_tag "Submit", class: "btn btn-default"
%h1 Map:
//%iframe{:allowfullscreen => "", :frameborder => "0", :height => "350px", :src => "https://www.google.com/maps/embed/v1/place?key=AIzaSyD4ORisi3tUNGAWEz98w2WqaFfJLOPghlQ&q=703 Pratt Ave NW Suite 304, Huntsville, AL 35801", :style => "border:0", :width => "100%"}
//%iframe{:allowfullscreen => "", :frameborder => "0", :height => "350px", :src => "https://www.google.com/maps/embed/v1/place?key=AIzaSyD4ORisi3tUNGAWEz98w2WqaFfJLOPghlQ&q=Off The Rack Boutique, 703 Pratt Ave NW Suite 304, Huntsville, AL 35801", :style => "border:0", :width => "100%"}
%iframe{:allowfullscreen => "", :frameborder => "0", :height => "350px", :src => "https://www.google.com/maps/embed/v1/place?key=AIzaSyD4ORisi3tUNGAWEz98w2WqaFfJLOPghlQ&q=703 Pratt Ave NW Suite 304, Huntsville, AL 35801", :style => "border:0", :width => "100%"}
