- provide(:title, '| Gallery')
%section{:id => "pageTitle"}
  %div.container
    %div.row
      %div{:id => "titleBox", :class => "col-lg-6 col-md-6 col-sm-6 col-lg-offset-3 col-md-offset-3 col-sm-offset-3"}
        %h1 Gallery
%section#gallery
  .container
    .row
      .col-lg-12.col-md-12.col-sm-12
        #gallerySLide.gallery_area
          - @photos.each do |img|
            %a{:href => img.image_url}
              %img.gallery_img{:alt => "img", :src => img.image_url(:small)}
              %span.view_btn View
%section{:id => "photoUpload"}
  %span= link_to "Upload", new_photo_path, class: "btn btn-default"