%section{:id => "homepageTitle"}
  %div.container
    %div.row
      %div{:id => "titleBox", :class => "col-lg-12 col-md-12 col-sm-12"}
        %img= image_tag "otr_logo_small.png", id: "homepageLogo"
%section{:id => "pageBarOne"}
  %div.container
    %div.row
      %div{:class => "pageBarTextBlock-b bigFont"}
        %p A Boutique-Style Consignment Store serving teens and women - casual wear, formals, semi-formals, shoes, designer hand bags and accessories.
%section{:id => "pageBarThree"}
  %div.container
    %div.row
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "600px", :src => "https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6557.260529040903!2d-86.594281!3d34.739713!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9e180b5e69329029!2sOff+The+Rack+Boutique!5e0!3m2!1sen!2sus!4v1540402591621", :style => "border:0", :width => "100%"}
%section{:id => "homepageTwo"}
  %div.container
    %div.row
      %div{:class => "col-lg-6 col-md-6 col-sm-6"}
      %div{:class => "col-lg-4 col-md-4 col-sm-4"}
        %p Consignment made easy.
