%section{:id => "homepageTitle"}
  %div.container
    %div.row
      %div{:id => "titleBox", :class => "col-lg-12 col-md-12 col-sm-12"}
        %img= image_tag "otr_logo_small.png", id: "homepageLogo"
%section{:id => "pageBarOne"}
  %div.container
    %div.row
      %div{:class => "pageBarTextBlock-b bigFont"}
        %p A Boutique-Style Consignment Store serving teens and women - casual wear, formals, semi-formals, shoes, designer hand bags and accessories.
%section{:id => "homepageTwo"}
  %div.container
    %div.row
      %div{:class => "col-lg-6 col-md-6 col-sm-6"}
      %div{:class => "col-lg-4 col-md-4 col-sm-4"}
        %p Consignment made easy.
%section{:id => "pageBarOne"}
  %div.container
    %div.row
      %h1 Find Us:
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "350px", :src => "https://www.google.com/maps/embed/v1/place?key=AIzaSyD4ORisi3tUNGAWEz98w2WqaFfJLOPghlQ&q=703 Pratt Ave NW Suite 304, Huntsville, AL 35801", :style => "border:0", :width => "100%"}