%section{:id => "homepageTitle"}
  %div.container
    %div.row
      %div{:id => "titleBox", :class => "col-lg-6 col-md-6 col-sm-6 col-lg-offset-3 col-md-offset-3 col-sm-offset-3"}
        %h1 Mailing List
        %h2 Admin Page
%section{:id => "pageBarOne"}
  %div.container
    %div.row
      %div{:class => "pageBarTextBlock-b bigFont"}
        -@addresses.each do |ad|
          =ad.email
          %br